#perfin_name{
    color: grey
}
#image_perfil{
    width: 100%;
    height: 100%;
}
.info-user{
    overflow: hidden;
    width: 100%;
}
.child-user{
    padding: 10px;
    float: left;
    width: 40%;
    height: 40%;
}
.child-user-detail{
    margin-left: 2px;
}
#name_user{
    font-weight: bold;
}
#ubication_user{
    font-stretch: italic;
}
#sales_user_detail{
    background-color: green;
    font-weight: bold;
    color: white;

}
#identification_user{
    color: grey;
}
.more-info-user{
    width: 100%;
}
.span-more-info-user{
    font-weight: bold;
}